body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}



.container_header {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav a {
display: block;
padding: 15px;
text-decoration: none;
text-transform: uppercase;
color: #5f249f;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 15px;
}

nav ul, nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav .active a, nav a:hover {
    background-color: #5f249f;
    color: #fff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/BANNER-1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}


.container_banner {
    display: flex;
    flex-direction: column;
    width: 990px;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.banner_headline h1 {
    color: #fff;
    font-size: 50px;
    font-weight:bold;
    margin: 0px;
    padding: 0px;
    max-width: 450px;
}



.banner_headline h2 {
    color: #fff;
    font-size: 18px;
    font-weight:normal;
    margin-top: 10px;
    padding: 0px;
    max-width: 450px;
    text-shadow: 0px 2px 0px #5d5d5d;
}

.banner_options {
    height: 210px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;

}

.banner1 {
    background-color: #3e097e;
}

.banner2 {
    background-color: #491289;
}

.banner3 {
    background-color: #5f249f;
}

.banner_title {
    font-family: 'Montserrat',sans-serif ;
    font-weight: normal;
    color: #ffd700;
    font-size: 20px;
}

.banner_desc {
    font-family: 'Montserrat',sans-serif;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.banner_options a:hover {
    background-color: #ffb404ee;
    color: #fff;
}

#section_geral {
    display: flex;
    justify-content: center;
}

.container_section {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

#section_geral section {
    flex: 2;
}

#section_geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #3e097e;
    margin-top: 5px;
}

.widget_body_cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    max-width: 330px;
    padding: 5px;
}

.widget_body_cursos a  {
    width: 150px;
    height: 150px;
}

.img_cursos {
    width: 150px;
    height: 150px;
}


.img_cursos img {
    width: 150px;
    height: 150px;
}

.widget_body_faq {
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
}

.text_faq {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}


article .news_data {
    font-family:'Montserrat', sans-serif;
    display: flex;
}

article .news_posted_at {
    background-color: #3e097e;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 4px;
}

article .news_comment {
    background-color: #5f249f;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

article .news_thumb {
    margin-top: 30px;
}

article .news_thumb img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

article .news_resume {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    color: #5d5d5d;
}

article a {
    text-decoration: none;
    color: #000;
}

.widget_body_novidades {
    display: flex;
    flex-wrap: wrap;
}


footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    height: 400px;
}

.container_footer {
    display:block;
    flex-direction: row;
    width: 990px;
    font-family: 'Montserrat', sans-serif;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.fm1, .fm2, .fm3 {
    flex: 1;
    padding: 20px;
}

.fm1 {
    background-color: #3e097e;
}

.fm1_title {

    font-weight: normal;
    color: #ffd700;
    font-size: 15px;
}

.fm1_desc {
    font-weight: lighter;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.footer_menu a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
}

.footer_menu a:hover {
    background-color: #ffb404ee;
    color: #fff;
}


.fm2 {
    background-color: #491289;
}

.fm2_title {
    font-weight: normal;
    color: #ffd700;
    font-size: 15px;
}

.fm2_desc {
    font-weight: lighter;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.fm3 {
    background-color: #5f249f;
}

.fm3_title {
    font-weight: normal;
    color: #ffd700;
    font-size: 15px;
}

.fm3_desc {
    font-weight: lighter;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.footer_areaitem {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.areaitem {
    flex: 1;
    padding: 10px;
}

.area_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.area_title_text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.area_title_bar {
    width: 50px;
    height: 2px;
    background-color: #ffd700;
    margin-top: 5px;
}

.area_body {
    color: #5d5d5d;
    font-size: 12px;
    font-weight: normal;
    text-align: justify;
}

.footer_copy {
    border-top: 1px solid #5d5d5d;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #5d5d5d;
    padding-left: 10px;
}


.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mm_line {
    height: 4px;
    background-color: #3e097e;
}

@media (max-width:960px) {


    .container_header {
        width: max-content;
    }


    #banner {
        width: max-content;
    }

    #section_geral {
        width: max-content;
    }

    footer {
        width: max-content;
    }


    .banner_headline h1 {
        padding-left: 20px;
    }

    .banner_headline h2 {
        padding-left: 20px;
        font-size: 16px;
    }

    .banner_title {
        font-size: 15px;
    }

    #section_geral section {
        padding: 0px 20px;
    }

    #section_geral aside {
        padding: 10px;
    }

    header .container_header{
         flex-direction: row;
    }

    ul {
        position: absolute;
        right: 0;
    }


    nav ul {
        flex-direction: column;
        display: block;
        position: fixed;
        right: 0;
        background-color: #ffffff;
    }

    header {
        height: auto;
        width: 990px;

    }

    .logo {
        margin-right:750px;
    }


    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}